
.box{
    border: 3px solid blue;
    width: 200px;
    height: 200px;
    border-radius:50%;
    margin: auto;
    background-color: yellow;
    transition: transform 3s;
}
.box:hover{
   transform: rotateY(340deg);
}